@import url("../styles.css");

.board {
  display: flex;
  background-color: var(--bg-dark);
  justify-content: center;
}

.board__name__container {
  display: flex;
  padding: 1rem;
}
.board__name {
  font-weight: var(--font-light);
  margin: 0;
  margin-right: 15px;
  white-space: nowrap;
}

.board__name:last-child {
  margin-right: 0;
}
/* .board__name__input {
} */
.board__btn {
  margin-left: 10px;
  align-self: center;
}

.board__btn__container {
  display: flex;
}
