@import url("../styles.css");


.header{padding: 10px;
    background-color: var(--bg-light);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 25% 45% 30%;
}
.header__logout{
    justify-self: center;
    align-self: center;
    grid-row: span 1;
    grid-column: span 1/ -1;
    width: 100px;
}
.header__title
{
    margin-top: 10px;
    grid-row: span 2;
    justify-self: center;
    align-self: center;
    margin: 0;
}
.header__username
{
    grid-row: span 1;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.header__logo{
    justify-self: start;
    align-self: start;
    grid-row: span 2;
    width:"10px";
    height: "10px";
}