@import url("../styles.css");

.header {
  padding: 40px 0 20px;
  background-color: var(--bg-primary-light);
  display: flex;
  justify-content: space-between;
}
.header__right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.header__logout {
  margin-left: 20px;
}
.header__title {
  margin: 10px 0 0 20px;
}
.header__username {
  justify-self: center;
  margin: 0;
  font-size: 1.2rem;
}
