@import url("../styles.css");
.tasks__main {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.task__bntAdd__container {
  margin: 0 auto;
  margin-bottom: 20px;
}
.task {
  border-radius: 10px;
  padding: 20px;
  border-style: groove;
}

.task__section__title {
  display: flex;
}
.task__check {
  margin-right: 17px;
  transform: scale(1.7);
}

.task__section__btns {
  display: inline;
}
.task__btn {
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border-width: 0;
  padding: 2%;
}
.task__btn__img {
  width: 25px;
  height: 25px;
}
.task__title {
  margin: 0;
}
.task__content {
  font-weight: var(--font-light);
}

.add-task__container {
  background-color: var(--bg-dark);
  padding: 2% 3%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.add-task__form {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 7px;
}

.add-task__label {
  align-self: center;
  grid-column-start: 1;
}

.add-task__input {
  min-height: 25px;
  border-radius: 5px;
  border: solid 1px var(--bg-dark);
}
.add-task__section__btn {
  grid-row: 1 / span 3;
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
