@import url("../styles.css");
.tasks__main {
  margin: 20px;
}
.task {
  border-radius: 10px;
  padding: 20px;
  border-style: groove;
}

.task__section__title {
  display: flex;
}
.task__check {
  margin-right: 17px;
  transform: scale(1.7);
}

.task__btn {
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border-width: 0;
  width: 35px;
  height: 35px;
}
.task__title {
  margin: 0;
}
.task__content {
  font-weight: var(--font-light);
}
/* 
.task__section__btns {
} */
